h1 {
  background-color: blue;
  color: white;
  text-align: center;
}

h2 {
  color: blue;
  font-size: 36px;
}

form {
  width: 250px;
}

.form-input {
  width: 250px;
}

.search-btn {
  background-color: blue;
  color: white;
  width: 250px;
  margin: 15px 0 0 0;
}

.previous-city {
  width: 250px;
  border-top: 5px solid;
  margin: 15px 0 0 0;
}

.uvi {
  background-color: green;
  color: white;
  width: 150px;
}
